.background {
  background: url('./Assets/background-wave.png')   bottom no-repeat ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center;
  position: absolute;
  bottom: 0;
}

.home {
  padding-top:2em;
  font-size: 5em;
  width: 100vw;
}

.spinnerDiv {
  display: flex;
  align-Items: center;
  justify-content: center;
  height: 100vh ;
}
.tagLine {
  text-align: center;
  font-weight: bold;
}

.navBar {
  background-color: black;
  font-size: 1.2em;
}

.peopleImage {
  display: none;
}

span.bg-primary {
  background-color: red;
}
.shopBtn {
  border: none;
  color: white;
  width: 100%;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  background-color: black;
}


.tagLineTop {
  letter-spacing: 0.2rem;
}

.homeImg {

  width: 100%;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}
.header {
  color: #00ffd1;
  font-weight: bold;
  letter-spacing: 0.25rem;
  font-size: 3rem;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7rem;
  font-size: 1.5rem;
  color: white;
}
.shoppingHeader{
  padding-top:5em;
  
}

.itemInCartString {
  padding-top: 1em;
}

.cardTitle {
  flex-grow: 1;
  overflow: hidden;
  height: 100px;
}


.cardImg{
  width:100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
 
}

/*cart styles */
.cartContainer {
  margin: 0 auto;
  width: 50%
}
.individualCartItem {
  border: 1px solid black;
  margin: 0 auto;
}

.cartImg{
max-width: 7em;
min-width: 7em;
max-height: 7em;
min-height: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  margin-left: 1rem;
}
 td, th {
    vertical-align: middle;
    text-align: center;
    border: 0;
    font-size: 0.8rem;
}

.column {
  margin-top: 2em;
}

.addToCart {
  background-color: black;
  border: none;
  text-align: center;
}

.btn-primary:hover {
  color: white;
  background-color: rgb(61, 61, 61);

}
.cardClass {
  max-width: 20em;
  min-width: 20em;
}


.cardImgContainer {
  width: 100%;
  height: 100%
}

.card-image{
  padding: 0.5em 0;
  width: 10em;
  height: 10em;
  text-align: center;
}

.navItems {
  color: white;
}

.navItems:hover {
  color: #00ffd1;
  transform: scale(1.1);
}
.cartIcon {
  background-color: white !important;
  border-radius: 50%;
  color: black !important;
}


.card-text-body {  
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;
  
}

.card-description {
  font-size: 1.5em;
  font-weight: bold;
  height: 4em
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.pagination li {
  list-style: none;
  margin: 0 10px;
}

.pagination li a {
  color: #444;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;

}

.pagination li a:hover {
  background-color: #eee;
}

.pagination .active a {
  color: #fff;
  background-color: black;
}

.pagination .disabled a {
  opacity: 0.5;
  cursor: not-allowed;
}

.itemPrice {
  font-weight: bold;
}

.cartContainer {
  width: 100%;
}

.emptyTableHeader {
  width: 50%;
}

.contact {
  display: flex;
  flex-direction: column;
  padding-top:3em;
  text-align: center;
  font-size: 4em; 
  align-items: center;    background: url('./Assets/background-wave.png') no-repeat bottom fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.socialIconContainer {
  display: flex;
  gap: 10rem;
  font-size: 5rem;
  color: black;
  padding-bottom: 1rem;
}

.socialIcon:hover {
  display: inline-block;
  color:black;
  cursor: pointer;
  -webkit-transform: scale(1.1); 
  transform: scale(1.1);
}

.socialIcon {
  color: black;
}

.cartHeader{
  font-weight: bold;
}

div.fade .cartModal .modal .show{
  background-color: black;
}

.cartRow {
  gap: 1.5em;
  width: 80%;
}
.cartTable{
  max-height: 2em;
}

.itemCardContainer {
  transition: transform 0.2s ease-in-out;
}

.itemCardContainer:hover {
  transform: scale(1.05);
}

.individualCartItem {
  border: none;
  font-weight: bold;
  
}

.cartItems {
  max-height: 20em;
  overflow-y: auto;
}

.cartBtn {
  color: black;
  font-weight: bold;
  border: none;
  font-size: 1.8em;
}
.itemTitle{
  font-weight: bold;
}
.addBtn {
  background-color: #85FFE9;
}

.itemBtn {
  border: none;
  
}

.individualCartItem{
  display: flex;
}


.total {
  font-size: 1.5rem;
  font-weight: bold;
}

.closeBtn {
  background-color: #F47D7B;
}

.total {
  font-weight: bold;
}
.dialogClass {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  overflow: hidden;
  
}

.cartModal .modal-content{
  position: fixed;
  top: 0;
  right: 0;
  width: 39vw;
  justify-content: center;
  overflow-y: auto;
  height: 100vh;
  overflow: hidden;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .addBtn, .btn:first-child:active, :not(.btn-check)+.btn:active{  
  background-color: #85FFE9;
  color: black;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .closeBtn,  :not(.btn-check)+.btn:active{  

  color: black;
}

.addBtn:hover{
  background-color: #85FFE9;
  color: black;
}

.closeBtn:hover {
  background-color: #F47D7B;
  color: black
}

.fade{}

.backdropClass{
  animation: left 2.5s ease-in;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 1024px) {
  .spinnerDiv {
    display: flex;
     align-Items: center;
     justify-content: center;
     height: 100vh ;
  }
  .header {
    text-align: center;
    font-size: 1.2em;
  }
 
  .toastContainer {
    position:  fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
  }

  .homeImg {
  display: none;
}

  .home {
  z-index:98;
  max-width: 100vw;
  font-size: 2
}

.background {
  background: linear-gradient(rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45)), url('./Assets/background-wave.png') bottom no-repeat;
  background-size: auto, contain, auto;
  
  
}

.navContainer {
  gap: 0
}
.cartModal .modal-content{
  
  width: 100vw;
  
  overflow: scroll;
}

.cartBtn {
  font-size: 1em;
}



}


  
  
  


